html,
body,
#root {
  height: 100%;
}

body,
#root {
  background: #2a0738;
}
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}
html,
body {
  scroll-behavior: auto !important;
}

#root {
  min-height: 100vh;
  width: 100%;
}
