html,
body,
#root {
  height: 100%;
}

body,
#root {
  /* background: linear-gradient(135deg, #6d28d9, #9747ff) !important; */
  background: #2a0738;
}
/* neww */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}
html,
body {
  scroll-behavior: auto !important;
}

#root {
  /* height: 100%; */
  min-height: 100vh;
  width: 100%;
}
